body {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
}

.picker-label {
  font-size: 0.7em; 
  display: inline-block; 
  width: 60px;
}
